global:
  scrape_interval: 5s

scrape_configs:
  - job_name: cadvisor
    scrape_interval: 5s
    static_configs:
    - targets:
      - cadvisor:8080

  - job_name: node-exporter
    static_configs:
      - targets:
        - node-exporter:9100

#remote_write:
#  - url: '127.0.0.1:3000'
